<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

<listener class-name ="com.SFA.Utilities.ExtentListenerClass"/>
<listener class-name ="com.SFA.Utilities.TestTransformer"/>



</listeners>


  <test thread-count="5" name="Test">
  
    <classes>
      <class name="com.SFA.TestCases.SFALogintest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
